.producto__Diversos--producto figure {
    overflow: hidden;
    height: 80%;
}
.producto__Diversos--producto figure img {

    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition-duration: 0.8s;
}

.producto__Diversos--producto figure img:hover{
    transform: scale(1.5);
}