.titulo__Diversos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-family: 'Raleway';
}
.titulo__Diversos h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #3b3d41;
}
